@import "./themes/theme1";

.wrapper {
  width: 100%;
  height: 100%;
  background-color: $terminalBackground;
  font-size: $fontSize;
  font-family: $fontFamily;

  overflow-x: scroll;

  // DEBUG unwrapped text
  color: $debug;

  // Hide scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

.flag__old_prompt {
  color: $oldPrompt;
}
