@import "../../themes/theme1";

.prompt {
  position: relative;
  color: $promptPrefix;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;

  & input {
    opacity: 0;
    position: absolute;
  }
}

.prompt {
  & .p__input {
    width: 100%;
    word-break: break-all;
    white-space: break-spaces;
  }
  & .caret {
    position: relative;
    animation: blink 1s infinite step-end;

    border-right: $caretWidth solid $caretColor;
    margin-right: 1px;

    // Static
    &.flag__caret_static::after {
      content: " ";
      width: $caretWidth;
      background: $caretColor;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  & .div__layer_caret {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.flag__old_prompt {
  color: $oldPrompt;
}

@keyframes blink {
  from,
  to {
    border-right: $caretWidth solid $caretColor;
  }
  50% {
    border-right: $caretWidth solid transparent;
  }
}
