$terminalBackground: #000000;
$text: #eeeeee;
$promptPrefix: aquamarine;
$promptInput: orange;
$fontSize: 12px;
$fontFamily: monospace;
$caretWidth: calc($fontSize * 0.55);
$caretColor: $text;

$debug: #ff00ff;
