$terminalBackground: #000000;
$text: #eeeeee;
$promptPrefix: aquamarine;
$promptInput: orange;
$fontSize: 24px;
$fontFamily: monospace;
$caretWidth: calc($fontSize / 2);
$caretColor: $text;

$debug: #ff00ff;
