@import "../../themes/theme1";

.line {
  display: flex;
}

.line pre {
  color: $text;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-all;

  & a {
    color: $links;
    text-decoration: underline;
    text-decoration-thickness: 1px;

    &:hover {
      color: $linksHover;
    }
  }
}

@media (max-width: 1100px) {
  .line pre {
    min-width: 110px;
    word-break: keep-all;
    white-space: pre;
  }
}
